<div class="list-group mediumTopPadding" style="width: 95%;">
    {{#each node in nodes}}
        {{#if linkTo}}
            {{#linkTo linkTo node tagName=div classNames="list-group-item"}}
                {{selectable-list-item node=node action="showDeleteModal" textWidth=textWidth}}
            {{/linkTo}}
        {{else}}
            {{selectable-list-item node=node tagName=div classNames="list-group-item" action="showDeleteModal" textWidth=textWidth}}
        {{/if}}

    {{/each}}
</div>

{{delete-modal elementId=deleteModalId item=nodeForDelete}}