<div id="adminTabLeftMenu">
    {{view Ember.TextField valueBinding="newAccessTokenName" classNames="input-medium mediumTopPadding"}}
    <button class="btn btn-default" {{action createNewAccessToken}}>Add</button>
    <br />
    {{selectable-list nodes=controller.arrangedContent textWidth=75 linkTo="accessTokens.accessToken"}}
</div>

{{outlet}}