<div id="mainContentArea">
    <ul class="nav nav-tabs nav-justified">
      {{#linkTo "alerts" tagName="li"}}<a href="#">Alerts</a>{{/linkTo}}
      {{#linkTo "chartGroups" tagName="li"}}<a href="#">Chart Groups</a>{{/linkTo}}
      {{#linkTo "alertRecipients" tagName="li"}}<a href="#">Alert Recipients</a>{{/linkTo}}
      {{#linkTo "admin.mainMenuAdmin" tagName="li"}}<a href="#">Main Menu Admin</a>{{/linkTo}}
      {{#linkTo "accessTokens" tagName="li"}}<a href="#">Access Tokens</a>{{/linkTo}}
      {{#linkTo "users" tagName="li"}}<a href="#">Users</a>{{/linkTo}}
      {{#linkTo "admin.accounts" tagName="li"}}<a href="#">Accounts</a>{{/linkTo}}
    </ul>

    {{outlet}}
</div>