<div id="adminTabLeftMenu">
    {{view Ember.TextField valueBinding="newAlertName" classNames="input-medium mediumTopPadding"}}
    <button class="btn btn-default" {{action createNewAlert}}>Add</button>
    <br />
    {{selectable-list nodes=controller.arrangedContent textWidth=75 linkTo="alerts.alert"}}
</div>

{{outlet}}