<table>
<tr>
    <td>Timezone: </td>
    <td>{{view Montric.Select contentBinding="applicationController.timezones" optionLabelPath="content.timezoneName" optionValuePath="content.timezoneId" selectionBinding="applicationController.selectedTimezone" prompt="Select Timezone"}}</td>
</tr><tr>
    <td>From: </td>
    <td>{{view Ember.TextField valueBinding="applicationController.selectedChartFromString"}}</td>
</tr><tr>
    <td>To: </td>
    <td>{{view Ember.TextField valueBinding="applicationController.selectedChartToString"}}</td>
</tr>
</tr><tr>
    <td>Resolution: </td>
    <td>{{view Montric.Select contentBinding="applicationController.chartResolutions" optionLabelPath="content.chartResolutionName" optionValuePath="content.chartResolutionValue" selectionBinding="applicationController.selectedChartResolution" prompt="Select Resolution"}}</td>
</tr>
</table>
