body {
    padding: 10px;
    color: black;
    background-color: #ffffff;
}

#mainArea {
    font-family: Rockwell, Verdana, sans-serif;
    letter-spacing: 0em;
    color: #353B40;
    margin: 0px;
    padding: 0px;
    font-size: 1.1em;
    margin-top: 45px;
}

i {
    margin-right: 5px;
}

#headerArea {
    text-align: left;
    font-size: 1.3em;
    background: #E1DBAB;
    border-bottom: 3px solid #782E54;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 45px;
    vertical-align: top;
    z-index: 10;
}

#headerArea a {
    color: #fff;
}

#headerArea a:hover {
    color: #d8d8d8;
}

#menuArea {
    background: #f8f8f8;
    border-bottom-left-radius: 8px;
    position: absolute;
    left: 0px;
    width: 305px;
    top: 50px;
    bottom:0px;
    overflow: scroll;
}

#menuArea h1 {
    text-align: center;
    font-size: 1.4em;
    text-decoration: underline;
    letter-spacing: 0.06em;
    color: #333333;
}

#chartsArea {
    background: white;
    position: absolute;
    left: 310px;
    right: 0px;
    top: 50px;
    bottom: 0;
    bottom:0px;
    overflow: scroll;
}

#chartsArea h1 {
    text-align: center;
    font-size: 1.4em;
    text-decoration: underline;
    letter-spacing: 0.06em;
    color: #333333;
}

#mainContentArea {
    background: white;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 55px;
    bottom: 0px;
    overflow: scroll;
}

#adminArea {
    background: white;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 25px;
    bottom: 0px;
    overflow: scroll;
}

#adminTabLeftMenu {
    background: aliceBlue;
    border-bottom-left-radius: 8px;
    position: absolute;
    left: 0px;
    width: 230px;
    top: 45px;
    bottom:0px;
    overflow: scroll;
    padding-left: 10px;
}

#adminTabRightContent {
    background: #fff;
    position: absolute;
    left: 250px;
    right: 10px;
    top: 45px;
    border: 1px solid #cdd0d4;
    border-radius: 5px;
}

#adminTabRightContent h1{
    text-align: center;
    padding: 10px;
    background: #F1EFEF;
}

#adminTabRightContent .footer {
    padding: 0px;
    margin: 0px;
}

#adminTabRightContent .table {
    margin-bottom: 0px;
}

#adminTabRightContent .table td {
    margin-bottom: 0px;
}

.adminTable td {
    max-height: 150px;
}

.eurekaJModal {
    width: 800px;
}

div.loginBox {
    color: #000000;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
}

div.loginBox h1 {
    margin-bottom: 20px;
    text-align: center;
}

div.registerBox {
    color: #000000;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
}

div.registerBox h1 {
    margin-bottom: 20px;
    text-align: center;
}

.eurekajChart {
    height: 100%;
    width: 100%;
}

.eurekajChart h1 {
    text-align: center;
    font-size: 1.4em;
    text-decoration: underline;
    letter-spacing: 0.06em;
    color: #333333;
}

.tenPxMarginTop {
    margin-top: 10px;
}

.rightarrow {
    content: '';
    float: left;
    width: 0;
	height: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 3px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
}

.downarrow {
    content: '';
    float: left;
    width: 0;
	height: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
}

div.chartConfigView {
	background: white;
	border-bottom-right-radius: 8px;
	position: absolute;
	width: 200px;
	right: 5px;
	top: 70px;
	bottom:5px;
	border-top: 1px solid #C0C4CC;
}

div.treeView h1 {
	font-size: 11pt;
	color: #777;
	text-decoration: underline;
	text-align: center;
}

.floatLeft {
	float: left;
}

.floatRight {
    float: right;
}

.floatNone {
    float: none;
}

.mediumTopPadding {
    margin-top: 9px;
    margin-right: 9px;
}

.smallTopPadding {
    margin-top: 5px;
    margin-right: 5px;
}
.centerAlign {
    text-align: center;
}

.fillWidth {
    width: 100%;
}

.almostFillWidth {
    width: 98%;
}

.smallMarginRight {
	margin-right: 5px;
}

.chartStyle {
	position: relative;
	height: 100%;
}

.treeMenuCheckbox {
    padding-right: 10px;
}

.treeMenuText {
    margin-left: 5px;
}

.headerText {
    margin-bottom: 0;
    line-height: 40px;
}

.noBorderTop {
    border-top: none;
}

.pointer {
    cursor: pointer;
}

.fullWidth {
    width: 95%;
}

.azureBlueBackground {
    background-color: #F0F8FF;
}

.azureBlueBorderThin {
    border: 1px solid #CEDFED;
}

.treeItemMarginLeft {
    margin-left: 22px;
}

ul.tabrow {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    position: relative;
    margin-bottom: 15px
}
ul.tabrow li {
    border: 1px solid #6C848C;
    background: #f0ecd0;
    background: -o-linear-gradient(top, #cee1e8 25%, #d5e7ee 100%);
    background: -ms-linear-gradient(top, #cee1e8 25%, #d5e7ee 100%);
    background: -moz-linear-gradient(top, #cee1e8 25%, #d5e7ee 100%);
    background: -webkit-linear-gradient(top, #cee1e8 25%, #d5e7ee 100%);
    background: linear-gradient(top, #cee1e8 25%, #d5e7ee 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    text-shadow: 0 1px #FFF;
    margin: 0px -5px;
    padding: 2px 20px;
    cursor: pointer;
}

ul.tabrow li .featureTabTop {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1px;
    height: 1px;
    border-top: 1px solid rgba(105, 105, 105, 0.24);
}

ul.tabrow li.is-selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    border-bottom-color: #FFF;
}

ul.tabrow li.is-selected .featureTabTop {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 1px;
    height: 1px;
    border-top: 2px solid #782e54;
}

ul.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #AAA;
    z-index: 1;
}
ul.tabrow li:before,
ul.tabrow li:after {
    border: 1px solid #AAA;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
ul.tabrow li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #D1D1D1;
}
ul.tabrow li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #D1D1D1;
}
ul.tabrow li.is-selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
ul.tabrow li.is-selected:after {
    box-shadow: -2px 2px 0 #FFF;
}

div.selectableList {
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 15px;
}

div.selectableList div {
    list-style: none;
    cursor: pointer;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

div.selectableList div button {
    margin-top: 2px;
    margin-right: 2px;
}

div.selectableList div.is-selected {
    background: #03005e;
    color: #fff;
    padding: 2px;
    padding-left: 5px;
    white-space: nowrap;
}

div.selectableList div.is-selected:before {
    content: '';
    float: left;
    width: 0;
    height: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid white;
}

.livicon {
    margin: 0px;
    padding: 0px;
    text-wrap: none;
}

.rickshaw_graph .detail .x_label { display: none }
.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em }
.detail_swatch { display: inline-block; width: 10px; height: 10px; margin: 0 4px 0 0 }
.rickshaw_graph .detail .date { color: #d0d0d0; font-weight: 600; }
.chart {
    position: relative;
    left: 40px;
}
.legend {
    display: inline-block;
    background: #404040;
    color: white;
    position: absolute;
    left: 20px;
}

.legend_header {
    font-size: 18px;
    color: white;
}