<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   
   <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
		 <param name="File" value="/home/eurekaj/eurekaj/manager.log" />
		<param name="MaxFileSize" value="10000KB" />
		<param name="MaxBackupIndex" value="5" />
		<param name="Threshold" value="debug" />
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n"/> 
    </layout> 
  </appender>
  	
   <logger name="org.eurekaj">
      <level value="info"/>
   </logger>
	  
	<!--logger name="org.eurekaj.alert">
		<priority value="debug" />
	</logger>
	
	<logger name="org.eurekaj.manager.task">
		<priority value="debug" />
	</logger-->
 
   <root>
      <priority value="INFO"/>
      <appender-ref ref="FILE"/>
	   <appender-ref ref="STDOUT"/>
   </root>

</log4j:configuration>