.blacklabel {
	color: black;
}

.whitelabel {
	color: white;
}

.greylabel {
    color: #606060;
}

.logoLabel {
  font-family: Rockwell, Verdana, sans-serif;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
  font-size: 2.5em;
}

.underlined {
    text-decoration: underline
}

.thickBlackBorderTopAndBottom {
	border-top: 4px solid #000;
	border-bottom: 4px solid #000;
}

.thickBlackBorderTop {
	border-top: 4px solid #000;
}

.thinBlackBorderTop {
	border-top: 2px solid #000;
}

.thinBlackBorderBottom {
	border-bottom: 1px solid #000;
}

.smallTextfield {
    font-size: 10px;
}

.noborder {
    border: none;
}

.thinBlackBorder {
	border: 1px solid #000;
}

.blackRightborder {
	border-right: 2px solid #000;
}

.thinBlackRightborder {
	border-right: 1px solid #000;
}

.thinBlackLeftborder {
	border-left: 1px solid #000;
}

.toolbarGradient {
    background: #2b3961; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b3961', endColorstr='#F0F8FF'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#2b3961), to(#F0F8FF)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #2b3961,  #F0F8FF); /* for firefox 3.6+ */
}

.whiteBackground {
    background: #fff;
}