.blacklabel {
	color: black;
}

.whitelabel {
	color: white;
}

.greylabel {
    color: #606060;
}

.underlined {
    text-decoration: underline
}

.thickBlackBorderTopAndBottom {
	border-top: 4px solid #000;
	border-bottom: 4px solid #000;
}

.thickBlackBorderTop {
	border-top: 4px solid #000;
}

.thinBlackBorderTop {
	border-top: 2px solid #000;
}

.thinBlackBorderBottom {
	border-bottom: 1px solid #000;
}

.smallTextfield {
    font-size: 10px;
}

.noborder {
    border: none;
}

.thinBlackBorder {
	border: 1px solid #000;
}

.blackRightborder {
	border-right: 2px solid #000;
}

.thinBlackRightborder {
	border-right: 1px solid #000;
}

.thinBlackLeftborder {
	border-left: 1px solid #000;
}

.toolbarGradient {
    background: #3d4774; /* for non-css3 browsers */

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9fadda', endColorstr='#3d4774'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#9fadda), to(#3d4774)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #9fadda,  #3d4774); /* for firefox 3.6+ */
}