body {
  font-family: Rockwell, Verdana, sans-serif;
  letter-spacing: 0em;
  background: #fff url(/images/header_bg.gif) repeat-x top;
  color: #353B40;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.more {
font-size: 0.7em;
}

img.right {
float: right;
margin: 15px;
}

a {
color: #3E423A;
}

a:visited {
color: #6C6E58;
}

#wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 0.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}


#headerLinks {
text-align: left;
color: black;
}

#headerLinks a {
font-size: 1em;
display: inline;
letter-spacing: 0.11em;
color: #000;
padding-right: 1.0em;
font-weight: normal;
}

#header {
text-align: left;
}

#header h1 {
font-size: 4em;
display: inline;
letter-spacing: -0.08em;
color: #000;
font-weight: normal;
}

#header h1 a, #header h2 a {
color: inherit;
text-decoration: none;
}

#header h1 a:hover, #header h2 a:hover {
color: inherit;
text-decoration: underline;
}

#header h2 {
display: inline;
margin-left: 0.5em;
font-size: 2em;
font-weight: normal;
color: #BF7F30;
}

#menu {
background: #3E423A;
}

#menu ul {
list-style: none;
margin: 0;
text-align: center;
}

#menu ul li {
display: inline;
}

#menu ul li a {
color: white;
font-size: 1.3em;
padding: 0 0.5em;
line-height: 2.5em;
font-weight: normal;
}

#archive {
list-style: none;
width: 50%;
margin: 0 auto;
padding: 0;
font-size: 140%;
}

#archive li {
height: 20px;
margin: 0;
}

#archive a {
float: left;
}

#archive abbr {
color: #666;
float: right;
}

#content {
padding-top: 2.5em;

-moz-border-radius-bottomleft: 1em;
-webkit-border-bottom-left-radius: 1em;
-moz-border-radius-bottomright: 1em;
-webkit-border-bottom-right-radius: 1em;
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;
}

#content h2 {
margin: 0 0 0.5em 0;
font-size: 1.5em;
}

#content p {
line-height: 140%;
letter-spacing: -0.03em;
}

.date {
padding: 0.4em 0.6em 0.3em;
font-weight: bold;
color: white;
text-align: center;
color: #000;
}

div.post {
margin-bottom: 2em;
}

.post h1 {
margin-top: 0.2em;
}

.post {
color: #333;
}

.post h1 a {
text-decoration: none;
clear: left;
display: block;
padding: 0.3em 0;
margin: 0 0 0.2em 0;
border-bottom: 1px dashed #dba;
font-weight: bold;
}

.post br {
margin-bottom: 10px;
}

pre {
background: #f8f8f8;
border: 1px solid #E7E5DC;
border-width: 1px 0 4px 6px;
padding: 1em;
overflow: auto;
color: black;
line-height: 120%;
font-family: "Consolas","Courier New",Courier,mono;
font-size: 12px;
letter-spacing: 0;
}

table.post-list {
width: 100%;
border-collapse: collapse;
}

table.post-list a {
color: #262;
font-weight: bold;
}

table.post-list th {
text-align: left;
}

table.post-list td, table.post-list th {
padding: 0.5em 0.3em;
border-bottom: 1px solid #dba;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
border-bottom: 0;
}

div.related {
margin-bottom: 2em;
}

#footer {
margin: 0 auto 2em;
color: #3E423A;
font-size: 0.9em;
padding: 0.5em 0;
text-align: center;
width: 56em;
}

.home_box {
float: left;
}

.panel {
	width: 100%;
	float: left;
	
	
	background: #FAD8AF;
	  border: 2px solid #B89F80;
	  letter-spacing: -0.03em;
	  margin: 1em 1em 0 0;
	  -moz-border-radius: 0.5em;
	  -webkit-border-radius: 0.5em;
	  border-radius: 0.5em;
	padding: 0.3em 0.5em;
	
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
  	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}



#content .panel h2 {
	color: black;
	text-decoration: underline;
	padding: 0.3em 0.5em;
	margin: 0em;	
}

#content .panel h3 {
    padding-left: 1.1em;
    padding-right: 1.1em;
}

#content .panel h4 {
    padding-left: 2em;
    padding-right: 2em;
}


#content .home_box h2 a {
color: white;
margin: 0 0.2em;
}

#home_left {
width: 760px;
margin-bottom: 0.5em;
}

#home_right {
width: 360px;
margin-bottom: 0.5em;
float:right;
}

.clearfix {
clear: both;
padding-bottom: 0.5em;
}

#footer a {
color: #3E423A;
font-weight: normal;
}

.home_box .post h1 a {
font-size: 0.7em;
}

.repo {
background: #FAD8AF;
border: 2px solid #B89F80;
padding: 0.7em 1em;
font-size: 0.8em;
letter-spacing: -0.03em;
margin: 1em 1em 0 0;
-moz-border-radius: 0.5em;
-webkit-border-radius: 0.5em;
border-radius: 0.5em;
}
.repo h3 {
margin: 0 0 0.3em 0;
}
.repo h3 a {
font-weight: bold;
color: black;
letter-spacing: 0;
font-size: 1.1em;
}

#github-projects.big .repo {
float: left;
width: 25.2em;
margin: 1.2em 1em 0 0;
display: inline-block;
float: none;
vertical-align: top;
}

.float-left {
float: left;
}
.float-right {
float: right;
}

a img {
border: 0;
}
