div.topView {
	background: white;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	position: absolute;
	left: 5px;
	right: 5px;
	top: 5px;
	height:65px;
}

div.treeView {
	background: aliceBlue;
	border-bottom-left-radius: 8px;
	position: absolute;
	left: 5px;
	width: 305px;
	top: 70px;
	bottom:5px;
	border-top: 1px solid #C0C4CC;
	border-right: 1px solid #C0C4CC;
	overflow: scroll;
}

div.treeView.is-expanded:after {
    content: '';
    display:block;
    position: relative;
    width:0;
    height:0;
    bottom:126px;
    left: 40px;
    border-color: transparent transparent black transparent; /*border color should be same as div div background color*/
    border-style: solid;
    border-width: 10px;
}

.rightarrow {
    content: '';
    float: left;
    width: 0;
	height: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 3px;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid black;
}

.downarrow {
    content: '';
    float: left;
    width: 0;
	height: 0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid black;
}

div.chartView {
	background: white;
	position: absolute;
	right: 205px;
	left: 311px;
	top: 70px;
	bottom:5px;
	border-top: 1px solid #C0C4CC;
	border-right: 1px solid #C0C4CC
}

div.chartConfigView {
	background: white;
	border-bottom-right-radius: 8px;
	position: absolute;
	width: 200px;
	right: 5px;
	top: 70px;
	bottom:5px;
	border-top: 1px solid #C0C4CC;
}

div.treeView h1 {
	font-size: 11pt;
	color: #777;
	text-decoration: underline;
	text-align: center;
}

.floatLeft {
	float: left;
}

.smallMarginRight {
	margin-right: 5px;
}