.sc-theme .sc-menu-item.focus a {
  color: #fff;
  background-color: #5A8EC6;
}

.sc-menu-item div.checkbox {
  background-image: url('/static/sproutcore/standard_theme/en/current/images/icons/mini_454545.png?1291500744'); 
  background-position: -66px -147px;
}

.sc-menu-item.focus div.checkbox {
  background-image: url('/static/sproutcore/standard_theme/en/current/images/icons/mini_ffffff.png?1291500744'); 
}

.sc-theme .sc-menu-item .separator {
  margin: 3px 1px 3px 1px;
}

.sc-menu-item span.has-branch {
  position:absolute;
  display: block;
  width: 16px;
  height: 16px;
  text-align:center;
  right:5px;
  top: 2px;
  background: transparent url('/static/sproutcore/standard_theme/en/current/images/icons/mini_222222.png?1291500744');
  background-position-x: 0px;
  background-position-y: -160px;
}

.sc-menu-item.focus span.has-branch {
  background: transparent url('/static/sproutcore/standard_theme/en/current/images/icons/mini_ffffff.png?1291500744');
  background-position-x: 0px;
  background-position-y: -160px;
}