
.sc-theme .sc-menu-scroller-view.sc-vertical .arrowDown{
  border: none;
  width: 14px;
  height: 14px;
  text-align: center;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -1598px;
  display: inline-block;
  vertical-align:bottom;
}

.sc-theme .sc-menu-scroller-view.sc-vertical .arrowUp{
  border: none;  
  width: 14px;
  height: 14px;
  text-align: center;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -1585px;
  display: inline-block;
  vertical-align:bottom;
}
