/** SC.Panel Support */

.sc-theme .sc-pane.sc-panel > .top-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat -40px -120px;
}

.sc-theme .sc-pane.sc-panel > .top-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -120px;
}

.sc-theme .sc-pane.sc-panel > .bottom-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -160px;
}

.sc-theme .sc-pane.sc-panel > .bottom-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat -40px -160px;
}

.sc-theme .sc-pane.sc-panel > .top-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') repeat-x 0px -230px;
}

.sc-theme .sc-pane.sc-panel > .bottom-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') repeat-x 0px -210px;
}

.sc-theme .sc-pane.sc-panel > .left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-y.png?1291500744') repeat-y 0px 0px;
}

.sc-theme .sc-pane.sc-panel > .right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-y.png?1291500744') repeat-y -20px 0px;
}