/** SC.PickerPane Support */

.sc-theme .sc-pane.sc-panel.sc-picker .perfectRight {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectLeft {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat -30px -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectTop {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -90px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectBottom {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px 0px;
}
