/* >>>>>>>>>> BEGIN stylesheet.css */
/* >>>>>>>>>> BEGIN source/button.css */
/* @override http://localhost:4020/static/sproutcore/standard_theme/en/current/source/button.css?1245946971 */

/* @group Button Core */

.sc-theme .sc-button-view {
  text-decoration: none ;
  border: none ;
  padding: 0;
}

.sc-theme .sc-button-view.icon img.icon {
  position: relative;
  vertical-align: middle;
  top: -2px;
  margin-right: 2px;
  height: 16px;
  width: 16px;
}

/* @end */

/* @group Square Style */

/* @group Core */

.sc-theme .sc-button-view.sc-regular-size.square {
  text-shadow: #fff 0px 1px 0px;
  color: black ;
}

.sc-theme .sc-button-view.sc-regular-size.square .sc-button-inner {
  display: block ;
}

.sc-theme .sc-button-view.sc-regular-size.square .sc-button-label {
  display: block ;
  text-align: center;
  padding: 0px 0px 7px 0px;
}

.sc-theme .sc-button-view.sc-regular-size.square.active .sc-button-label {
  text-shadow:  black 0px -1px 0px;
  color: white;
}

.sc-theme .sc-button-view.square.disabled .sc-button-label {
  color: #999;
  text-shadow: none;
}

.sc-theme .sc-button-view.sc-regular-size.square.def .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.sel .sc-button-label {
	color: white;
	text-shadow: #2a569e 0px -1px 0px;
}

.sc-theme .sc-button-view.sc-regular-size.square.def.disabled .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.sel.disabled .sc-button-label {
	color: #ddd;
	text-shadow: none;
}

/* @end */

/* @group Regular Size */

/* @group basic */

.sc-theme .sc-button-view.sc-regular-size.square {
  font-size: 12px;
  max-height: 24px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -814px;
}

.sc-theme .sc-button-view.sc-regular-size.square .sc-button-inner {
  height: 24px;
  max-height: 24px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -789px;
}

.sc-theme .sc-button-view.sc-regular-size.square .sc-button-label {
  height: 18px;
  line-height: 24px;  
  margin-left: 11px;
  margin-right: 11px;  
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x -15px -764px;
}

/* @end */

/* @group active */

.sc-theme .sc-button-view.sc-regular-size.square.active {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -913px;
}

.sc-theme .sc-button-view.sc-regular-size.square.active .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -939px;
}

.sc-theme .sc-button-view.sc-regular-size.square.active .sc-button-label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x right -889px;
}

/* @end */

/* @group disabled */

.sc-theme .sc-button-view.sc-regular-size.square.disabled {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1064px;
}

.sc-theme .sc-button-view.sc-regular-size.square.disabled .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1038px;
}

.sc-theme .sc-button-view.sc-regular-size.square.disabled .sc-button-label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1014px;
}

/* @end */

/* @group sel - def */

.sc-theme .sc-button-view.sc-regular-size.square.def,
.sc-theme .sc-button-view.sc-regular-size.square.sel {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1190px;
}

.sc-theme .sc-button-view.sc-regular-size.square.def .sc-button-inner,
.sc-theme .sc-button-view.sc-regular-size.square.sel .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1164px;
}

.sc-theme .sc-button-view.sc-regular-size.square.def .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.sel .sc-button-label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1140px;
}

/* @end */



/* @group sel - def -active */

.sc-theme .sc-button-view.sc-regular-size.square.def.active,
.sc-theme .sc-button-view.sc-regular-size.square.sel.active {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1316px;
}

.sc-theme .sc-button-view.sc-regular-size.square.def.active .sc-button-inner,
.sc-theme .sc-button-view.sc-regular-size.square.sel.active .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1290px;
}

.sc-theme .sc-button-view.sc-regular-size.square.def.active .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.sel.active .sc-button-label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1266px;
}

/* @end */


/* @group sel - def -disabled */

.sc-theme .sc-button-view.sc-regular-size.square.def.disabled,
.sc-theme .sc-button-view.sc-regular-size.square.sel.disabled {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1442px;
}

.sc-theme .sc-button-view.sc-regular-size.square.def.disabled .sc-button-inner,
.sc-theme .sc-button-view.sc-regular-size.square.sel.disabled .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1416px;
}

.sc-theme .sc-button-view.sc-regular-size.square.def.disabled .sc-button-label,
.sc-theme .sc-button-view.sc-regular-size.square.sel.disabled .sc-button-label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1392px;
}

/* @end */

/* @end */


/* @end */

/* @group Capsule */

/* @group basic */

.sc-theme .sc-button-view.capsule {
	font-size:   12px;
	height:      24px;
	max-height:  24px;
	text-shadow: #fff 0px 1px 0px;
  	text-align:  center;
 	background:  transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -224px;
  color: black ;
}

.sc-theme .sc-button-view.capsule .sc-button-inner {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0 -197px;
  display: block ;
  height: 24px;
  max-height: 24px;
}

/* 170 - 250 - 490 */
.sc-theme .sc-button-view.capsule .sc-button-label {
 	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -764px;
  display: block ;
  text-align: center;
  padding: 0px 0px 7px 0px;
  height: 24px;
  margin-left: 12px;
  margin-right: 12px;  
  line-height: 24px;  
  text-shadow: none;
}

/* @end */

/* @group sel - def : capsule */

.sc-theme .sc-button-view.capsule.sel,
.sc-theme .sc-button-view.capsule.def {
	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat scroll right -304px;
}

.sc-theme .sc-button-view.capsule.sel .sc-button-inner,
.sc-theme .sc-button-view.capsule.def .sc-button-inner {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0 -277px;
}

.sc-theme .sc-button-view.capsule.sel .sc-button-label,
.sc-theme .sc-button-view.capsule.def .sc-button-label {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0 -1140px;
	color: white;
	text-shadow: #2a569e 0px -1px 0px;
}

/* @end */

/* @group disabled */

.sc-theme .sc-button-view.capsule.disabled {
	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat scroll right -544px;
}

.sc-theme .sc-button-view.capsule.disabled .sc-button-inner {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0 -517px;
}

.sc-theme .sc-button-view.capsule.disabled .sc-button-label {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0 -1014px;
	color: #999;
	text-shadow: none ;
}

/* @end */

/* @group sel.disabled - def.disabled*/

.sc-theme .sc-button-view.capsule.sel.disabled,
.sc-theme .sc-button-view.capsule.def.disabled {
	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat scroll right -544px;
}

.sc-theme .sc-button-view.capsule.sel.disabled .sc-button-inner,
.sc-theme .sc-button-view.capsule.def.disabled .sc-button-inner {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0 -517px;
}

.sc-theme .sc-button-view.capsule.sel.disabled .sc-button-label,
.sc-theme .sc-button-view.capsule.def.disabled .sc-button-label {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0 -1014px;
	color: #999;
	text-shadow: none ;
}

/* @end */

/* @group sel.active - def.active */

.sc-theme .sc-button-view.capsule.sel.active,
.sc-theme .sc-button-view.capsule.def.active {
	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat scroll right -464px;
}

.sc-theme .sc-button-view.capsule.sel.active .sc-button-inner,
.sc-theme .sc-button-view.capsule.def.active .sc-button-inner {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0 -437px;
}

/* 410 */
.sc-theme .sc-button-view.capsule.sel.active .sc-button-label,
.sc-theme .sc-button-view.capsule.def.active .sc-button-label {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0 -1266px;
	color:  white;
}

/* @end */

/* @group active */

.sc-theme .sc-button-view.capsule.active {
	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat scroll right -384px;
}

.sc-theme .sc-button-view.capsule.active .sc-button-inner {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0 -357px;
}

/* 330 */
.sc-theme .sc-button-view.capsule.active .sc-button-label {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0 -889px;
	color: white;
}

/* @end */

/* @group focus ring */

.sc-theme .sc-button-view.focus {
  overflow: visible;
}

.sc-theme .sc-button-view div.focus-ring {
  visibility: hidden;
}

.sc-theme .sc-button-view.focus div.focus-ring {
  visibility: visible;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom:0px;
  position: absolute;
}
.sc-theme .sc-button-view.focus div.focus-ring div {
  top: -3px;
  bottom: -3px;
  position: absolute;
}


.sc-theme .sc-button-view.square.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-left,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-left {
  left: -2px;
  width: 10px;
  background: transparent  url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -1685px;
}

.sc-theme .sc-button-view.square.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-right,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-right {
  right: -2px;
  width: 10px;
  background: transparent  url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat scroll right -1717px;
}

.sc-theme .sc-button-view.square.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.dropdown.focus .focus-ring .focus-middle,
.sc-theme .sc-button-view.popup.focus .focus-ring .focus-middle {
  left: 7px;
  right: 7px;
  background: transparent  url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -1749px;
}




.sc-theme .sc-button-view.capsule div.focus-ring .focus-left {
  left: -3px;
  width: 16px;
  background: transparent  url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -1783px;
}

.sc-theme .sc-button-view.capsule div.focus-ring .focus-right {
  right: -3px;
  width: 16px;
  background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -1815px;
}

.sc-theme .sc-button-view.capsule div.focus-ring .focus-middle {
  left: 13px;
  right: 13px;
  background: transparent  url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -1847px;
}


/* @end */



/* @end */


/* >>>>>>>>>> BEGIN source/checkbox.css */
/* SC.CheckboxView - sc-theme */

.sc-theme .sc-checkbox-view {
	line-height: 18px;
	vertical-align: middle;
}

.sc-theme .sc-checkbox-view .label {
	position: absolute ;
	left: 20px;
	top: 0;
	right: 0;
	bottom: 0;
	line-height: 18px;
}
 
.sc-theme .sc-checkbox-view.icon img.icon {
	position: relative;
	vertical-align: middle;
	top: -2px;
	margin-left: 2px;
	margin-right: 4px;
	height: 16px;
	width: 16px;
}

.sc-theme .sc-checkbox-view.disabled {
	color: #666;
	color: rgba(0,0,0,0.5);
}

/* @group Checkbox Image */


.sc-theme .sc-checkbox-view span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -468px;
	width: 16px;
	height: 16px;
	position: absolute ;
	line-height: 16px;
	left: 1px; 
	top: 0px;
}

.sc-theme .sc-checkbox-view.sel span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -32px -495px;
}

.sc-theme .sc-checkbox-view.mixed span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -468px;
}

.sc-theme .sc-checkbox-view.disabled span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -27px -411px;
} 

.sc-theme .sc-checkbox-view.sel.disabled span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -495px;
}

.sc-theme .sc-checkbox-view.mixed.disabled span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -32px -441px;
}

.sc-checkbox-view.active span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -441px;
} 

.sc-theme .sc-checkbox-view.sel.active span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -495px;
}

.sc-theme .sc-checkbox-view.mixed.active span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -388px;
}

/* @end */


/* >>>>>>>>>> BEGIN source/collection.css */
/* @override 
	http://localhost:4020/static/sproutcore/standard_theme/en/current/source/collection.css?1243536580
	http://localhost:4020/static/sproutcore/standard_theme/en/current/source/collection.css?1243569705
*/

/* @group SC.CollectionView */

.sc-theme .sc-collection-view {
	text-decoration: none ;
	color: #000;
}

.sc-theme .sc-collection-view.alternating .sc-collection-item.even {
  background-color: #e4e4e4;
}

.sc-theme .sc-collection-view .sc-collection-item.sel {
	background-color: #ddd;
	color: #333;
}

.sc-theme.focus .sc-collection-view.alternating .sc-collection-item.even {
  background-color: #f4f7fb;
}

.sc-theme.focus .sc-collection-view.focus .sc-collection-item.sel {
	background-color: #2370d8;
	color: white ;
}

/* @end */

/* @group SC.ListView */

.sc-theme .sc-list-view {
	background-color: white ;
}

.sc-theme .sc-list-view .sc-collection-item {
	display: block ;
	line-height: 22px;
}

.sc-theme .sc-list-insertion-point {
  overflow: visible;
  background-color: #4e4977;
	z-index: 1000;
}

.sc-theme .sc-list-insertion-point .anchor {
  position: absolute ;
  width: 8px;
  top: -2px;
  left: -4px;
  height: 8px;
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -32px -1630px;
}

/* @end */

/* @group SC.SourceListView */

.sc-theme .sc-list-view.sc-source-list {
	background-color: #f0f0f0 ;
	background-color: rgba(255,255,255,0.8);
	border:  none ;
	color: #363636;
}

.sc-theme.focus .sc-list-view.sc-source-list {
	background-color: #d4d7e0;
	background-color: rgba(250,250,255,0.7);
	color: black ;
}

.sc-theme .sc-list-view.sc-source-list .sc-collection-item.sel {
	background-color: #ddd;
	border-top: 1px solid #eee;
	font-weight: bold ;
}

.sc-theme.focus .sc-list-view.sc-source-list .sc-collection-item.sel {
 	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -16px;
	color: white ;
	border-top: 1px solid #1f4f9b;
	border-bottom: 1px solid #1f4f9b;
	border-right: 0;
	z-index: 1;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view label {
  left: 12px;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.has-icon label,
.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.has-checkbox label {
	left: 32px;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.has-checkbox.has-icon label {
	left: 56px;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view img.icon {
	position: absolute ;
	left: 10px;
	top: 50%;
	margin-top: -9px;
}

/* adjust for added border */
.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.sel img.icon {
	margin-top: -10px;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.has-checkbox img.icon {
	left: 30px;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.sc-group-item {
	text-transform: uppercase;
	color: #2e2f30;
	font-weight: bold;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.sc-group-item img.icon {
	display: none;
}

.sc-theme .sc-list-view.sc-source-list .sc-list-item-view.sc-group-item.has-icon label {
  left: 8px;
}


/* @end */

/* >>>>>>>>>> BEGIN source/core.css */
/* 
  This is the main SproutCore theme.  If you would prefer not to use this 
  theme, just set the theme option in your sc-config to another theme name.
*/

/* Always use Helvetica and this background color. */
body.sc-theme {
	font: 12px/18px "Lucida Grande", "Lucida Sans", Verdana, Arial, sans-serif;
	background-color: #57647f ;
	padding: 0px;
}


body.sc-theme .sc-view.invalid {
  outline: 2px red solid;
}

/* @group Border Styles */

body.sc-theme .sc-view.sc-bezel-border {
  border-left:   1px #999 solid;
  border-top:    1px #666 solid;
  border-bottom: 1px #fff solid;
  border-right:  1px #fff solid;
}

body.sc-theme .sc-view.sc-black-border {
  border: 1px black solid; 
}

body.sc-theme .sc-view.sc-gray-border {
  border: 1px #888 solid; 
}

body.sc-theme .sc-view.sc-bottom-border {
  border-bottom: 1px #888 solid; 
}

body.sc-theme .sc-view.sc-top-border {
  border-top: 1px #888 solid; 
}

/* @end */

.sc-theme div.sc-web-view {
  background-color: white;
}

.sc-theme .sc-pane.sc-main {
	background: -webkit-gradient(linear, left top, left bottom, from(#57647f), to(#848ea2));
	color: white;
}

.sc-theme #loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#57647f), to(#848ea2));
	color: white;
}

.sc-theme #loading p.loading {
  position: absolute;
  padding: 4px 12px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #b1baca;
  color: black;
  border-top: 1px #b1baca solid;
  text-align: right;
}


/* >>>>>>>>>> BEGIN source/disclosure.css */
/* SC.DisclosureView - sc-theme */

/* @group disclosure */

/* @group basic */

.sc-theme .sc-button-view.sc-disclosure-view img.button {
	width: 12px;
	height: 12px;
	left: 0;
	top: 3px;
	background-image: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') ;
} 


.sc-theme .sc-button-view.sc-disclosure-view.sel img.button {
	background-position: 0px -1597px ;
}

.sc-theme .sc-button-view.sc-disclosure-view img.button {
	background-position: -16px -1614px ;
}

.sc-theme .sc-button-view.sc-disclosure-view {
  background: transparent;
}

/* @end */

/* @group disabled */

.sc-theme .sc-button-view.sc-disclosure-view.sel.disabled img.button {
	background-position: 0px -1613px ;
}

.sc-theme .sc-button-view.sc-disclosure-view.disabled img.button {
	background-position: -16px -1630px ;
}

/* @end */

/* @group active */

.sc-theme .sc-button-view.sc-disclosure-view.sel.active img.button {
	background-position: -16px -1597px ;
}

.sc-theme .sc-button-view.sc-disclosure-view.active img.button {
	background-position: -0px -1630px ;
}

/* @end */



/* @end */


/* >>>>>>>>>> BEGIN source/label.css */
/* @override http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1227685866/label.css */

/* SC.LabelView - sc-theme support */

.sc-theme .sc-label-view img.icon {
	top: -2px;
	margin-left: 2px;
	margin-right: 4px;
	height: 16px;
	width: 16px;
}

/* >>>>>>>>>> BEGIN source/list_item.css */
/* @group Checkbox */

.sc-list-item-view .sc-checkbox-view {
	position: absolute;
	display: block;
	border: none;
	width: 17px;
	height: 16px;
	left: 5px;
	top:  50%;
	margin-top: -8px;
  background: none;
}

.sc-list-item-view.sel .sc-checkbox-view {
  background: none;
	border: none;
}

.sc-list-item-view .sc-checkbox-view.sel {
  background: none;
	border: none;
}

.sc-list-item-view .sc-checkbox-view.active {
  background: none;
	border: none;
}

/* @end */

/* @group Disclosure */

.sc-list-item-view img.disclosure {
	position: absolute ;
	left: -11px;
	top: 50%;
	margin-top: -6px;
	width: 14px;
	height: 14px;
	background-image: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') ;
	background-position: -16px -1614px ;
}

.sc-list-item-view img.disclosure.open {
	background-position: 0px -1597px ;
}

.sc-list-item-view img.disclosure.active {
	background-position: -0px -1630px ;
}

.sc-list-item-view img.disclosure.open.active {
	background-position: -16px -1597px ;
}

.sc-list-item-view.disabled img.disclosure,
.sc-list-item-view.disabled img.disclosure.active {
	background-position: -16px -1630px ;
}

.sc-list-item-view.disabled img.disclosure.open,
.sc-list-item-view.disabled img.disclosure.open.active {
	background-position: 0px -1613px ;
}


/* @end */

/* @group Branch */

.sc-list-item-view .branch {
	background-image: url('/static/sproutcore/standard_theme/en/current/images/icons/mini_454545.png?1291500744'); 
	background-position: -32px 0;
}

.sc-list-item-view.sel .branch,
.sc-list-item-view.active .branch {
	background-image: url('/static/sproutcore/standard_theme/en/current/images/icons/mini_ffffff.png?1291500744'); 
}

/* @end */

/* >>>>>>>>>> BEGIN source/menu.css */

.sc-theme .sc-menu-scroller-view.sc-vertical .arrowDown{
  border: none;
  width: 14px;
  height: 14px;
  text-align: center;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -1598px;
  display: inline-block;
  vertical-align:bottom;
}

.sc-theme .sc-menu-scroller-view.sc-vertical .arrowUp{
  border: none;  
  width: 14px;
  height: 14px;
  text-align: center;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -1585px;
  display: inline-block;
  vertical-align:bottom;
}

/* >>>>>>>>>> BEGIN source/menu_item_view.css */
.sc-theme .sc-menu-item.focus a {
  color: #fff;
  background-color: #5A8EC6;
}

.sc-menu-item div.checkbox {
  background-image: url('/static/sproutcore/standard_theme/en/current/images/icons/mini_454545.png?1291500744'); 
  background-position: -66px -147px;
}

.sc-menu-item.focus div.checkbox {
  background-image: url('/static/sproutcore/standard_theme/en/current/images/icons/mini_ffffff.png?1291500744'); 
}

.sc-theme .sc-menu-item .separator {
  margin: 3px 1px 3px 1px;
}

.sc-menu-item span.has-branch {
  position:absolute;
  display: block;
  width: 16px;
  height: 16px;
  text-align:center;
  right:5px;
  top: 2px;
  background: transparent url('/static/sproutcore/standard_theme/en/current/images/icons/mini_222222.png?1291500744');
  background-position-x: 0px;
  background-position-y: -160px;
}

.sc-menu-item.focus span.has-branch {
  background: transparent url('/static/sproutcore/standard_theme/en/current/images/icons/mini_ffffff.png?1291500744');
  background-position-x: 0px;
  background-position-y: -160px;
}
/* >>>>>>>>>> BEGIN source/pane.css */
.sc-theme .sc-dialog-pane {
  z-index: 2000;
  background: #494949;
}

/*
Content-Type: multipart/related; boundary="BLANK_IMAGE"

--BLANK_IMAGE
Content-Location:SCTheme
Content-Transfer-Encoding:base64

R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==
*/
.sc-theme div.sc-ghost-view {
  background-image: url(data:image/gif;base64,R0lGODlhAQABAJAAAP///wAAACH5BAUQAAAALAAAAAABAAEAAAICBAEAOw==) top left no-repeat; 
  *background-image: url('') top left no-repeat; /* IE < 8 */
}

/* >>>>>>>>>> BEGIN source/panel.css */
/** SC.Panel Support */

.sc-theme .sc-pane.sc-panel > .top-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat -40px -120px;
}

.sc-theme .sc-pane.sc-panel > .top-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -120px;
}

.sc-theme .sc-pane.sc-panel > .bottom-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -160px;
}

.sc-theme .sc-pane.sc-panel > .bottom-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat -40px -160px;
}

.sc-theme .sc-pane.sc-panel > .top-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') repeat-x 0px -230px;
}

.sc-theme .sc-pane.sc-panel > .bottom-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') repeat-x 0px -210px;
}

.sc-theme .sc-pane.sc-panel > .left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-y.png?1291500744') repeat-y 0px 0px;
}

.sc-theme .sc-pane.sc-panel > .right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-y.png?1291500744') repeat-y -20px 0px;
}
/* >>>>>>>>>> BEGIN source/picker.css */
/** SC.PickerPane Support */

.sc-theme .sc-pane.sc-panel.sc-picker .perfectRight {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectLeft {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat -30px -30px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectTop {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px -90px;
}

.sc-theme .sc-pane.sc-panel.sc-picker .perfectBottom {
  background: url('/static/sproutcore/standard_theme/en/current/images/panels/sprite-x.png?1291500744') no-repeat 0px 0px;
}

/* >>>>>>>>>> BEGIN source/progress.css */
/* SC.ProgressView - sc-theme */

/* @override http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1227986917/progress.css */

.sc-theme .sc-progress-view {
 	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -1540px;
 	border: none; 
 	border-left: 1px solid #666;
 	border-right: 1px solid #666;
}

.sc-theme .sc-progress-view.disabled {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity:0.5;
}

.sc-theme .sc-progress-view .sc-inner {
 	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -1518px;
	border-right: 1px solid #625560;
}

.sc-theme .sc-progress-view.sc-indeterminate .sc-inner {
 	background: transparent url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -1562px;
}


/* >>>>>>>>>> BEGIN source/radio.css */
/* @override http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1227681631/radio.css */

/* SC.RadioView - sc-theme */

/* @group Layout */

.sc-theme .sc-radio-view .sc-radio-button .sc-button-label {
	position: relative ;
	vertical-align:bottom;
	padding-left:2px;
}

.sc-theme .sc-radio-view .sc-radio-button span.button {
	width: 16px;
	height: 16px;
	vertical-align: middle ;
	position: relative ;
	margin-right: 4px;
	margin-top: -2px;
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -776px;
}

.sc-theme .sc-radio-view.sc-layout-vertical .sc-radio-button {
	padding-left: 18px;
	position: relative ;
	margin-bottom: 3px;
}

.sc-theme .sc-radio-view.sc-layout-horizontal  .sc-radio-button {
  padding-right: 8px;
}

.sc-theme .sc-radio-view.sc-layout-vertical .sc-radio-button span.button {
	position: absolute ;
	margin: 0;
	left: 0;
	top: 0;
}


.sc-theme .sc-radio-view.sc-layout-horizontal .sc-radio-button span.button {
	position: relative ;
	margin: 0;
	left: 0;
	top: 0;
	display: inline-block;
}


.sc-theme .sc-radio-view.disabled .sc-radio-button,
.sc-theme .sc-radio-view .sc-radio-button.disabled {
	color: #666;
	color: rgba(0,0,0,0.5);
}

.sc-theme .sc-radio-view img.icon {
	position: relative;
	vertical-align: middle;
	top: -2px;
	margin-left: 2px;
	margin-right: 4px;
	height: 16px;
	width: 16px;
}

.sc-theme .sc-radio-view.disabled img.icon,
.sc-theme .sc-radio-view .sc-radio-button.disabled img.icon {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity:0.5;
}

/* @end */

/* @group Image */

.sc-theme .sc-radio-view .sc-radio-button span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -200px;
}

.sc-theme .sc-radio-view .sc-radio-button.sel span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -32px -280px;
}

.sc-theme .sc-radio-view .sc-radio-button.mixed span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -360px;
}

.sc-theme .sc-radio-view .sc-radio-button.disabled span.button,
.sc-theme .sc-radio-view.disabled .sc-radio-button span.button,
.sc-theme .sc-radio-view.disabled .sc-radio-button.active:hover span.button,
.sc-theme .sc-radio-view .sc-radio-button.disabled.active:hover span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -226px;
}

.sc-theme .sc-radio-view.disabled .sc-radio-button.sel span.button,
.sc-theme .sc-radio-view.disabled .sc-radio-button.sel.active:hover span.button,
.sc-theme .sc-radio-view .sc-radio-button.sel.disabled span.button,
.sc-theme .sc-radio-view .sc-radio-button.sel.disabled.active:hover span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -280px;
}

.sc-theme .sc-radio-view.disabled .sc-radio-button.mixed span.button,
.sc-theme .sc-radio-view .sc-radio-button.mixed.disabled span.button,
.sc-theme .sc-radio-view.disabled .sc-radio-button.mixed.active:hover span.button,
.sc-theme .sc-radio-view .sc-radio-button.mixed.disabled span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -308px;
}


.sc-theme .sc-radio-view .sc-radio-button.active:hover span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -32px -200px;
}

.sc-theme .sc-radio-view .sc-radio-button.active.sel:hover span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat 0px -226px;
}

.sc-theme .sc-radio-view .sc-radio-button.mixed.active:hover span.button {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -16px -308px;
}

/* @end */


/* >>>>>>>>>> BEGIN source/scroller.css */
/* Track */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .track {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-repeat-x.png?1291500744') 0 0 repeat-y;
}

/* Cap */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .cap {
  position: absolute;
  width: 14px;
  height: 16px;
  top: 0;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -58px -14px no-repeat;
}

/* Buttons */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-top {
  position: absolute;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -30px -14px no-repeat;
  height: 26px;
  width: 14px;
  bottom: 14px;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-bottom {
  position: absolute;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') 0 -40px no-repeat;
  height: 15px;
  width: 14px;
  bottom: 0;
}

/* Active */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-top:active,
.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-top.active {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -44px -14px no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-bottom:active,
.sc-theme .sc-view.sc-scroller-view.sc-vertical .button-bottom.active {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -14px -40px no-repeat;
}

/* Thumb */
.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb {
  position: absolute;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb-center {
  position: absolute;
  width: 14px;
  top: 10px;
  bottom: 10px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-repeat-x.png?1291500744') -14px 0 repeat-y;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb-top {
  position: absolute;
  width: 14px;
  top: 0;
  height: 10px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -42px -40px no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.sc-vertical .thumb-bottom {
  position: absolute;
  width: 14px;
  bottom: 0;
  height: 10px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -28px -40px no-repeat;
}

/* Track */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .track {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-repeat-y.png?1291500744') 0 0 repeat-x;
}

/* Cap */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .cap {
  position: absolute;
  height: 14px;
  width: 16px;
  left: 0;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -52px 0 no-repeat;
}

/* Buttons */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-top {
  position: absolute;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') 0 0 no-repeat;
  width: 26px;
  height: 14px;
  right: 14px;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-bottom {
  position: absolute;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -15px -14px no-repeat;
  width: 15px;
  height: 14px;
  right: 0;
}

/* Active */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-top:active,
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-top.active {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -26px 0px no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-bottom:active,
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .button-bottom.active {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') 0px -14px no-repeat;
}

/* Thumb */
.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb {
  position: absolute;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb-center {
  position: absolute;
  height: 14px;
  left: 10px;
  right: 10px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-repeat-y.png?1291500744') 0 -14px repeat-x;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb-top {
  position: absolute;
  height: 14px;
  left: 0;
  width: 10px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -68px 0 no-repeat;
}

.sc-theme .sc-view.sc-scroller-view.sc-horizontal .thumb-bottom {
  position: absolute;
  height: 14px;
  right: 0;
  width: 10px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-scroller-sprite.png?1291500744') -56px -40px no-repeat;
}

/* Hidden Controls */
.sc-theme .sc-view.sc-scroller-view.controls-hidden .button-top,
.sc-theme .sc-view.sc-scroller-view.controls-hidden .button-bottom,
.sc-theme .sc-view.sc-scroller-view.controls-hidden .thumb,
.sc-theme .sc-view.sc-scroller-view.controls-hidden .cap {
  display: none;
}
/* >>>>>>>>>> BEGIN source/segmented.css */
.sc-theme .sc-segmented-view {
  display: block;
}

.sc-theme .sc-segmented-view .sc-segment {
	text-decoration: none ;
	color: black ;
	text-align: center ;
}

.sc-theme .sc-segment:active, .sc-segment:focus {
	outline: none;
}

.sc-theme .sc-segment img.icon {
	position: relative;
	vertical-align: middle;
	top: -2px;
	margin-right: 2px;
	height: 16px;
	width: 16px;
}



.sc-theme .sc-segmented-view.disabled .sc-segment img.icon {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-opacity: 0.5;
}

/* @group Layout */

.sc-theme .sc-segmented-view .sc-segment {
	display: block;
	top: 0;
	height: 24px;
	line-height: 24px;
	text-shadow: #fff 0px 1px 0px;
	margin-left: -1px;
}

.sc-theme .sc-segmented-view .sc-button-inner {
	display: block;
	min-width: 20px;
	min-height: 24px;
	border: none;
}

.sc-theme .sc-segmented-view .sc-segment {
	padding-left: 11px;
	padding-right: 0;
	border: none;
	background:  transparent;
}


.sc-theme .sc-segmented-view .sc-segment .sc-button-inner {
	padding-left: 0;
	padding-right: 11px;
	background:  transparent;
}

.sc-theme .sc-segmented-view .sc-segment label {
	display:  block;
	line-height: 24px;
	height:  24px;
	text-align: center;
	background:  transparent;
}

/* @end */

/* @group Appearance */

/* @group Normal */

.sc-theme .sc-segmented-view .sc-segment.sc-last-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -814px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-first-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -789px;
}

.sc-theme .sc-segmented-view .sc-segment label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -764px;
  text-shadow: #fff 0px 1px 0px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-middle-segment,
.sc-theme .sc-segmented-view .sc-segment.sc-last-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -839px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-middle-segment .sc-button-inner,
.sc-theme .sc-segmented-view .sc-segment.sc-first-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -864px;
}



/* @end */



/* @group Active */

.sc-theme .sc-segmented-view .sc-segment.active.sc-last-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -939px;
}

.sc-theme .sc-segmented-view .sc-segment.active.sc-first-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -913px;
}

.sc-theme .sc-segmented-view .sc-segment.active label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -889px;
  text-shadow: #fff 0px 1px 0px;
  text-shadow:  black 0px -1px 0px;
  color: white;
}

.sc-theme .sc-segmented-view .sc-segment.active.sc-middle-segment,
.sc-theme .sc-segmented-view .sc-segment.active.sc-last-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -964px;
}

.sc-theme .sc-segmented-view .sc-segment.active.sc-middle-segment .sc-button-inner,
.sc-theme .sc-segmented-view .sc-segment.active.sc-first-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -989px;
}



/* @end */

/* @group Normal - Disabled */

.sc-theme .sc-segmented-view .sc-segment.sc-last-segment.disabled .sc-button-inner,
.sc-theme .sc-segmented-view.disabled .sc-segment.sc-last-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1064px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-first-segment.disabled,
.sc-theme .sc-segmented-view.disabled .sc-segment.sc-first-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1038px;
}

.sc-theme .sc-segmented-view .sc-segment.disabled label,
.sc-theme .sc-segmented-view.disabled .sc-segment label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1014px;
  color: #999;
  text-shadow: none;
}

.sc-theme .sc-segmented-view .sc-segment.sc-middle-segment.disabled,
.sc-theme .sc-segmented-view .sc-segment.sc-last-segment.disabled,
.sc-theme .sc-segmented-view.disabled .sc-segment.sc-middle-segment,
.sc-theme .sc-segmented-view.disabled .sc-segment.sc-last-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1089px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-middle-segment.disabled .sc-button-inner,
.sc-theme .sc-segmented-view .sc-segment.sc-first-segment.disabled .sc-button-inner,
.sc-theme .sc-segmented-view.disabled .sc-segment.sc-middle-segment .sc-button-inner,
.sc-theme .sc-segmented-view.disabled .sc-segment.sc-first-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1114px;
}



/* @end */

/* @group Selected */

.sc-theme .sc-segmented-view .sc-segment.sc-last-segment.sel .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1190px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-first-segment.sel {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1164px;
}

.sc-theme .sc-segmented-view .sc-segment.sel label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1140px;
  text-shadow:  black 0px -1px 0px;
  color: white;
}

.sc-theme .sc-segmented-view .sc-segment.sc-middle-segment.sel,
.sc-theme .sc-segmented-view .sc-segment.sc-last-segment.sel {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1215px;
}

.sc-theme .sc-segmented-view .sc-segment.sc-middle-segment.sel .sc-button-inner,
.sc-theme .sc-segmented-view .sc-segment.sc-first-segment.sel .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1240px;
}

/* @end */

/* @group Selected - Disabled */

.sc-theme .sc-segmented-view .sc-segment.sel.sc-last-segment.disabled .sc-button-inner,
.sc-theme .sc-segmented-view.disabled .sc-segment.sel.sc-last-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1442px;
}

.sc-theme .sc-segmented-view .sc-segment.sel.sc-first-segment.disabled,
.sc-theme .sc-segmented-view.disabled .sc-segment.sel.sc-first-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1416px;
}

.sc-theme .sc-segmented-view .sc-segment.sel.disabled label,
.sc-theme .sc-segmented-view.disabled .sc-segment.sel label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1392px;
	color: white;
	text-shadow: none;
}

.sc-theme .sc-segmented-view .sc-segment.sel.sc-middle-segment.disabled,
.sc-theme .sc-segmented-view .sc-segment.sel.sc-last-segment.disabled,
.sc-theme .sc-segmented-view.disabled .sc-segment.sel.sc-middle-segment,
.sc-theme .sc-segmented-view.disabled .sc-segment.sel.sc-last-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1467px;
}

.sc-theme .sc-segmented-view .sc-segment.sel.sc-middle-segment.disabled .sc-button-inner,
.sc-theme .sc-segmented-view .sc-segment.sel.sc-first-segment.disabled .sc-button-inner,
.sc-theme .sc-segmented-view.disabled .sc-segment.sel.sc-middle-segment .sc-button-inner,
.sc-theme .sc-segmented-view.disabled .sc-segment.sel.sc-first-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1492px;
}

/* @end */





/* @group Selected - Active */

.sc-theme .sc-segmented-view .sc-segment.active.sel.sc-last-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1316px;
}

.sc-theme .sc-segmented-view .sc-segment.active.sel.sc-first-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1290px;
}

.sc-theme .sc-segmented-view .sc-segment.active.sel label {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -1266px;
  text-shadow:  black 0px -1px 0px;
  color: white;
}

.sc-theme .sc-segmented-view .sc-segment.active.sel.sc-middle-segment,
.sc-theme .sc-segmented-view .sc-segment.active.sel.sc-last-segment {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1341px;
}

.sc-theme .sc-segmented-view .sc-segment.active.sel.sc-middle-segment .sc-button-inner,
.sc-theme .sc-segmented-view .sc-segment.active.sel.sc-first-segment .sc-button-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1366px;
}



/* @end */

/* @end */



/* >>>>>>>>>> BEGIN source/slider.css */
/* @override http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1228020574/slider.css */

/* @group SC.SliderView */

.sc-theme .sc-slider-view.sc-regular-size {
	height: 21px;
}

.sc-theme.blur .sc-slider-view,
.sc-theme.focus .sc-slider-view.disabled {
}

.sc-theme.focus .sc-slider-view {
}

/* sc-inner is the slider bar */
.sc-theme .sc-slider-view .sc-inner {
  display: block;
	position: absolute;
	left: 8px;
	right: 12px;
	height: 8px;
	top: 5px;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -170px;
  border: none;
}

.sc-theme .sc-slider-view .sc-inner .sc-leftcap {
  display: block;
  position: absolute;
  left: 7px;
  right: 1px;
  top: 0;
  bottom: 0;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -179px;
}

.sc-theme .sc-slider-view .sc-inner .sc-rightcap {
  display: block;
  position: absolute;
  right: 0px;
  margin-right: -6px;
  width: 7px;
  top: 0;
  bottom: 0;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -188px;
}

/* @end */

/* sc-inner is the slider bar */
.sc-theme.focus .sc-slider-view.disabled .sc-inner,
.sc-theme.blur .sc-slider-view .sc-inner {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -251px;
  border: none;
}

.sc-theme.focus .sc-slider-view.disabled .sc-inner .sc-leftcap,
.sc-theme.blur .sc-slider-view .sc-inner .sc-leftcap {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x left -260px;
}

.sc-theme.focus .sc-slider-view.disabled .sc-inner .sc-rightcap,
.sc-theme.blur .sc-slider-view .sc-inner .sc-rightcap {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -269px;
}

/* @end */

/* @group Handle */

.sc-theme .sc-slider-view .sc-handle {
	height: 21px;
	width: 21px;
	margin-left: -6px;
	top: -5px;
	position: absolute ;
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat -25px -333px
}

.sc-theme .sc-slider-view.active .sc-handle {
	background-position: -2px -410px ;
}

.sc-theme.blur .sc-slider-view .sc-handle,
.sc-theme.focus .sc-slider-view.disabled .sc-handle {
	background-position: -2px -333px
}

.sc-theme.focus .sc-slider-view.active .sc-handle {
	background-position: -2px -410px ;
}

/* @end */
/* >>>>>>>>>> BEGIN source/split_view.css */
/* @group SC.SplitView */

.sc-theme .sc-horizontal .sc-split-divider-view {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-ysprite.png?1291500744') repeat-y 0px top;
}

.sc-theme .sc-vertical .sc-split-divider-view {
	background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -1397px;
}

/* @end */

/* >>>>>>>>>> BEGIN source/tab.css */
/* SC.TabView */

.sc-theme .sc-tab-view > .sc-container-view {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  background-color: #8991a2;
  background-color: rgba(205,205,205,0.25);
  overflow: hidden;
}

/* only first tab view should color background */
.sc-theme .sc-tab-view .sc-tab-view {
  background-color: transparent;
}

/* >>>>>>>>>> BEGIN source/table.css */
.sc-theme .sc-table-header {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6));
  -webkit-background-clip: content-box;
  font-size: 11px;
  font-weight: bold;
  color: #666;
  line-height: 18px;
}



.sc-theme .sc-table-header-sort-active {
  background: #eee;
}
/* >>>>>>>>>> BEGIN source/text_field.css */
/* @override http://localhost:4020/static/sproutcore/en/desktop/_cache/sc.theme/1228026565/text_field.css */

/* SC.TextFieldView - sc-theme */



/* >>>>>>>>>> BEGIN source/toolbar.css */
.sc-toolbar-view {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x 0px -650px; 
  border: none;
  border-top: 1px solid #4d5567; /* #818ea4; */
  -webkit-box-shadow: 0px -1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px -1px 2px rgba(0,0,0,0.3);
}

/* >>>>>>>>>> BEGIN source/well.css */
.sc-theme .sc-well-view .top-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1646px;
}

.sc-theme .sc-well-view .top-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1646px;
}

.sc-theme .sc-well-view .bottom-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1657px;  
}

.sc-theme .sc-well-view .bottom-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1657px;
}

.sc-theme .sc-well-view .top-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x right -1668px;  
}

.sc-theme .sc-well-view .bottom-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x right -1680px;
}

.sc-theme .sc-well-view .left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-ysprite.png?1291500744') repeat-y -16px top;  
}

.sc-theme .sc-well-view .right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-ysprite.png?1291500744') repeat-y -28px top;
}

.sc-theme .sc-well-view .content-background {
  background: #57647f;  
  opacity:0.4;
}

