.sc-theme .sc-well-view .top-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1646px;
}

.sc-theme .sc-well-view .top-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1646px;
}

.sc-theme .sc-well-view .bottom-left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat left -1657px;  
}

.sc-theme .sc-well-view .bottom-right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') no-repeat right -1657px;
}

.sc-theme .sc-well-view .top-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x right -1668px;  
}

.sc-theme .sc-well-view .bottom-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-repeat-x.png?1291500744') repeat-x right -1680px;
}

.sc-theme .sc-well-view .left-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-ysprite.png?1291500744') repeat-y -16px top;  
}

.sc-theme .sc-well-view .right-edge {
  background: url('/static/sproutcore/standard_theme/en/current/images/sc-theme-ysprite.png?1291500744') repeat-y -28px top;
}

.sc-theme .sc-well-view .content-background {
  background: #57647f;  
  opacity:0.4;
}