<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd">

    <http use-expressions="true">
        <form-login login-page="/index.html" default-target-url="/eurekaJView/EurekaJView.html" authentication-failure-url="/index.html?loginFailed=true" />
        <intercept-url pattern="/index.html" access="permitAll"/>
        <intercept-url pattern="/webservices/**" access="permitAll"/>
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <logout />
    </http>

    <authentication-manager >
        <authentication-provider user-service-ref="eurekaJUserDetailsService" />
    </authentication-manager>
</beans:beans>