<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://cxf.apache.org/jaxws 
						http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<bean id="berkeleyDbEnv" class="org.eurekaj.manager.berkeley.BerkeleyDbEnv">

	</bean>

	<bean id="treeMenuDao" class="org.eurekaj.manager.dao.berkeley.TreeMenuDaoImpl">
		<property name="dbEnvironment">
			<ref bean="berkeleyDbEnv" />
		</property>
	</bean>

	<bean id="treeMenuService" class="org.eurekaj.manager.service.TreeMenuServiceImpl">
		<property name="treeMenuDao">
			<ref bean="treeMenuDao" />
		</property>
	</bean>
	
	<bean id="administrationDao" class="org.eurekaj.manager.dao.berkeley.AdministrationDaoImpl">
		<property name="dbEnvironment">
			<ref bean="berkeleyDbEnv" />
		</property>
	</bean>
	
	<bean id="administrationService" class="org.eurekaj.manager.service.AdministrationServiceImpl">
		<property name="administrationDao">
			<ref bean="administrationDao" />
		</property>
	</bean>

	<!--
		bean id="logDao" class="org.eurekaj.manager.dao.berkeley.LogDaoImpl">
		<property name="dbEnvironment"> <ref bean="berkeleyDbEnv" />
		</property> </bean> <bean id="logService"
		class="org.eurekaj.manager.service.LogServiceImpl"> <property
		name="logDao"> <ref bean="logDao" /> </property> </bean
	-->

	<bean id="statisticsParser" class="org.eurekaj.manager.service.StatisticsParser">
		<property name="treeMenuService">
			<ref bean="treeMenuService" />
		</property>
	</bean>

	<!-- Timers -->
	<bean id="alertValidatorTask" class="org.eurekaj.manager.alert.AlertValidatorTask">
		<property name="treeMenuService">
			<ref bean="treeMenuService" />
		</property>
	</bean>

	<bean id="scheduledAlertValidatorTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<!-- wait 1 seconds before starting repeated execution -->
		<property name="delay" value="1000" />
		<!-- run every 15 seconds -->
		<property name="period" value="15000" />
		<property name="timerTask" ref="evaluateAlerts" />
	</bean>

	<bean id="evaluateAlerts"
		class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
		<property name="targetObject" ref="alertValidatorTask" />
		<property name="targetMethod" value="evaluateAlerts" />
	</bean>

	<bean id="timerFactory" class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<!-- see the example above -->
				<ref bean="scheduledAlertValidatorTask" />
			</list>
		</property>
	</bean>
	<!-- //Timers -->
	
	<!-- Webservices -->
	<bean id="eurekaJWebservice" class="org.eurekaj.ws.eurekaJService.EurekaJWebserviceImpl">
		<property name="treeMenuService">
			<ref bean="treeMenuService" />
		</property>
	</bean>
	
	<jaxws:endpoint id="eurekaJWebserviceEndpoint" 
		implementor="#eurekaJWebservice" 
		address="/EurekaJServiceService" />
	<!-- //Webservices -->
</beans>