<div class="fullWidth">
    <h1>Delete Menu Items</h1>
    <table class="table adminTable">
    <tr>
        <td style="width: 150px;">Main Menu:</td>
        <td><div style="max-height: 350px; overflow: scroll; width: 100%" class="azureBlueBackground azureBlueBorderThin">
        {{! view Montric.TreeView itemsBinding="controllers.administrationMenu.rootNodes" allowSelectionOfNonLeafNodes="true"}}<div>&nbsp;</div>
        {{tree-menu rootNodes=controllers.admin.rootNodes allowMultipleSelections=true}}
    </div></td>
    </tr>
    <tr>
        <td colspan="2"><button {{action "doDeleteSelectedNodes"}} class="btn btn-primary" style="width: 100%;">Delete Selected Menu Items</button></td>
    </tr>
    </table>+
</div>
{{! view Montric.ConfirmDialogView elementId="menuAdminConfirmDialog" cancelButtonLabel="Cancel" cancelAction="doCancelDeletion" okButtonLabel="Delete" okAction="doConfirmDeletion" target="controller" header="Delete Tree Menu Items?" message="Are you sure you want to delete the selected items? This action will permanently remove the menu items from the system. This action cannot be undone!"}}
