<div class="loginBox well">
    <h1>Awaiting Activation</h1>
    <p>Your account have been registered, but is awaiting activation by a site administrator. We apologize for the delay. </p>
    <p>As we progress through the private beta and move towards the public beta, this process will be removed! </p>
    <p>You will receive an email to your registered email address when we have processed your request.</p>
</div>
